<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet Product Store</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h1>Pet Product Store</h1>
    </header>
    <section class="product-list">
        <div class="product" id="product1">
            <img src="ball.png">
            <h2>Rubber Chewy Ball</h2>
            <p>{NATURAL LATEX RUBBER}: Safe materials, non-toxic & no harmful to pets safe for your pets to chew and play. These toys have a soft-touch texture that dogs love. Any toys are not indestructible, only supervised play and discard and timely replacement of the frayed or worn toys.</p>
	    <p><b>Price : Rs.122</b></p>
            <button onclick="addToCart('product1')">Add to Cart</button>
        </div>
       <div class="product" id="product2">
            <img src="Non-ToxicRubberChewBone.png">
            <h2> Non-Toxic Rubber Chew Bone Toy</h2>
            <p>Flexible & non toxic rubber chew toy. Improves dental health. Super durable, almost indestructible and long lasting. Encourages non destructive chewing. Suitable for playing and training and improves agility in your pet</p>
	    <p><b>Price : Rs.145</p>
            <button onclick="addToCart('product2')">Add to Cart</button>
        </div>
	<div class="product" id="product3">
            <img src="PaperRopePlushToy.png">
            <h2>Paper Rope Plush Top</h2>
            <p>NATURAL COTTON MATERIAL: Foodie Puppies plush toys for dog are made of natural cotton,which is good to your dogs,cotton woven toy legs make the toy more durable, the soft plush surface makes it has a comfortable touch feeling which will protect your dog's gums.</p>
	    <p><b>Price : Rs.440</b></p>
            <button onclick="addToCart('product3')">Add to Cart</button>
        </div>
	<div class="product" id="product4">
            <img src="RubberSqueakyChewyToy.png">
            <h2>Rubber Squeaky Chewy Toy</h2>
            <p>Safe materials, non-toxic & no harmful to pets safe for your pets to chew and play. These toys have a soft-touch texture that dogs love. Any toys are not indestructible, only supervised play and discard and timely replacement of the frayed or worn toys.</p>
	    <p><b>Price : Rs.191</b></p>
            <button onclick="addToCart('product4')">Add to Cart</button>
        </div>
    </section>
    <aside class="cart">
        <h2>Shopping Cart</h2>
        <ul id="cart-items"></ul>
        <button onclick="checkout()">Checkout</button>
    </aside>
    <script src="script.js"></script>
</body>
</html>